__version__

__verSN:1__<br>
__Image__<br>
metaval:resizeのみ<br>
192_192：OOF: 0.869 Wall time:  1h 33min LB: 0.861<br>
224_224：OOF: 0.883 Wall time:  2h 07min LB: 0.862<br>
256_256：OOF: 0.875 Wall time:  2h 36min LB: 0.882<br>
382_382：OOF: 0.869 Wall time:  5h 10min LB: 0.854<br>
512_512：OOF: 0.848 Wall time: 10h 29min LB: 0.852<br>
__Table__<br>
patientid有、isnan有<br>
lgb: CV mean score: 0.7306, std: 0.0175., LB: 0.6637<br>
SVC: CV mean score: 0.6622, std: 0.0276., LB: 0.6637<br>

__initialize__

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.metrics import roc_auc_score
import matplotlib.pyplot as plt

from kaggle.api.kaggle_api_extended import KaggleApi
import os

In [2]:
# config
melanoma_external_malignant_256 = "/home/tidal/ML_Data/SIIM-ISIC_Melanoma_Classification/melanoma_external_malignant_256/"
SIIM_ISIC_Melanoma_Classification = "/home/tidal/ML_Data/SIIM-ISIC_Melanoma_Classification/SIIM-ISIC-Melanoma-Classification/"
Output = "/home/tidal/ML_Data/SIIM-ISIC_Melanoma_Classification/Output/"

__preprocessing__

In [5]:
a = pd.read_csv(Output + 'metaval/sub_metaval_192_192.csv')
t = pd.read_csv(Output + 'metaval/sub_metaval_lgb.csv')

In [4]:
a.head()

     image_name    target
0  ISIC_0452656  0.002022
1  ISIC_0507189  0.000316
2  ISIC_1144286  0.012860
3  ISIC_1199236  0.010351
4  ISIC_1303205  0.009428

In [7]:
t.head()

     image_name    target
0  ISIC_0452656  0.007858
1  ISIC_0507189  0.008264
2  ISIC_1144286  0.007775
3  ISIC_1199236  0.007775
4  ISIC_1303205  0.007775

In [8]:
a_t = pd.read_csv(Output + 'test/sub_test_192_192.csv')
t_t = pd.read_csv(Output + 'test/sub_test_lgb.csv')

In [9]:
a_t.head()

     image_name    target
0  ISIC_0052060  0.000123
1  ISIC_0052349  0.000145
2  ISIC_0058510  0.000006
3  ISIC_0073313  0.000006
4  ISIC_0073502  0.001369

In [10]:
t_t.head()

     image_name    target
0  ISIC_0052060  0.068217
1  ISIC_0052349  0.008240
2  ISIC_0058510  0.010886
3  ISIC_0073313  0.010152
4  ISIC_0073502  0.008830

In [11]:
pd.merge(a_t, t_t, on="image_name", how="inner")

         image_name  target_x  target_y
0      ISIC_0052060  0.000123  0.068217
1      ISIC_0052349  0.000145  0.008240
2      ISIC_0058510  0.000006  0.010886
3      ISIC_0073313  0.000006  0.010152
4      ISIC_0073502  0.001369  0.008830
...             ...       ...       ...
10977  ISIC_9992485  0.000000  0.007769
10978  ISIC_9996992  0.000000  0.007578
10979  ISIC_9997917  0.000000  0.012378
10980  ISIC_9998234  0.000000  0.016082
10981  ISIC_9999302  0.000000  0.009535

[10982 rows x 3 columns]