In [1]:
import shutil
from tqdm import tqdm
import cv2
from scipy import ndimage
import matplotlib.pyplot as plt
from PIL import Image
import os
from random import shuffle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## (kernel使うときに変更すべき変数)

In [2]:
padding_data_path = "/home/tidal/ML_Data/SIIM-ISIC_Melanoma_Classification/SIIM-ISIC-Melanoma-Classification/pad_jpg"
melanoma_external_malignant_256 = "/home/tidal/ML_Data/SIIM-ISIC_Melanoma_Classification/melanoma_external_malignant_256/"
SIIM_ISIC_Melanoma_Classification = "/home/tidal/ML_Data/SIIM-ISIC_Melanoma_Classification/SIIM-ISIC-Melanoma-Classification/"

## config

## resize & write

In [3]:
#画像のリサイズ
#入力：加工元のパス、サイズ(縦)、サイズ(横)
#出力：加工後の画像(mtx)、ImageName(mtx)
def resize_image(chdir, size_X, size_Y):
    #change directry
    os.chdir(chdir)
    rsz_file = os.listdir()
    X_data = []
    img_name = []
    for file in rsz_file:
        rsz_img = cv2.imread(file)
        rsz_img = cv2.resize(rsz_img, (size_X, size_Y) ) 
        X_data.append(rsz_img)
        img_name.append(file)
    print("end:resize_image")
    return X_data, img_name

#画像の書き込み
#入力：加工後の画像(mtx)、ImageName(mtx), テスト用/学習用(test/train)、保存フォルダ名
#出力：成功有無
def write_to_localfolder(img_mtx, img_name, test_or_train, folder_name):
    if test_or_train == "test":
        img_dir = SIIM_ISIC_Melanoma_Classification + "pad_jpg/test/" + folder_name
    elif test_or_train == "train":
        img_dir = SIIM_ISIC_Melanoma_Classification + "pad_jpg/train/" + folder_name
    else:
        print("3rd argument is (test/train).")
        print("end:write_to_localfolder")
        return False
    
    os.mkdir(img_dir)
    for ix in range(len(img_mtx)):
        cv2.imwrite(img_dir + '/{0}'.format(img_name[ix]), img_mtx[ix])
    
    print("end:write_to_localfolder")
    return True

#画像のリサイズ&書き込み(溜め込むサイズを小さくなるように改良)
#入力：加工元のパス、サイズ(縦)、サイズ(横)、テスト用/学習用(test/train)、保存フォルダ名
#出力：成功有無
def ResizeAndWriteImg(chdir, size_X, size_Y, test_or_train, folder_name):
    if test_or_train == "test":
        img_dir = SIIM_ISIC_Melanoma_Classification + "pad_jpg/test/" + folder_name
    elif test_or_train == "train":
        img_dir = SIIM_ISIC_Melanoma_Classification + "pad_jpg/train/" + folder_name
    else:
        print("3rd argument is (test/train).")
        print("end:write_to_localfolder")
        return False
    os.mkdir(img_dir)
    os.chdir(chdir)
    rsz_file = os.listdir()
    for file in rsz_file:
        rsz_img = cv2.imread(file)
        rsz_img = cv2.resize(rsz_img, (size_X, size_Y) ) 
        cv2.imwrite(img_dir + '/{0}'.format(file), rsz_img)
    print("end:resize_image")
    return True

## augment

## excute

In [5]:
%%time
img_mtx, img_name = resize_image(SIIM_ISIC_Melanoma_Classification + "jpeg/test/", PADDINGSIZE_X, PADDINGSIZE_Y)

end:resize_image
CPU times: user 12min 29s, sys: 1min 15s, total: 13min 45s
Wall time: 13min 46s

In [6]:
%%time
folder_name = str(PADDINGSIZE_Y) + '_' + str(PADDINGSIZE_Y)
write_to_localfolder(img_mtx, img_name, "test", folder_name)

end:write_to_localfolder
CPU times: user 8.39 s, sys: 156 ms, total: 8.54 s
Wall time: 8.54 s

True

In [ ]:
%%time
SizeMtx = [768]
for size in SizeMtx:
    img_mtx, img_name = resize_image(SIIM_ISIC_Melanoma_Classification + "jpeg/train/", size, size)
    folder_name = str(size) + '_' + str(size)
    write_to_localfolder(img_mtx, img_name, "train", folder_name)

In [5]:
%%time
SizeMtx = [224,384,512]
for size in SizeMtx:
    img_mtx, img_name = resize_image(SIIM_ISIC_Melanoma_Classification + "jpeg/test/", size, size)
    folder_name = str(size) + '_' + str(size)
    write_to_localfolder(img_mtx, img_name, "test", folder_name)

end:resize_image
end:write_to_localfolder
end:resize_image
end:write_to_localfolder
end:resize_image
end:write_to_localfolder
CPU times: user 41min 53s, sys: 3min 59s, total: 45min 52s
Wall time: 42min 19s

In [6]:
%%time
SizeMtx = [768]
for size in SizeMtx:
    folder_name = str(size) + '_' + str(size)
    ResizeAndWriteImg(SIIM_ISIC_Melanoma_Classification + "jpeg/test/", size, size, "test", folder_name)

end:resize_image
CPU times: user 16min 10s, sys: 1min 24s, total: 17min 34s
Wall time: 15min 5s

In [7]:
%%time
SizeMtx = [768]
for size in SizeMtx:
    folder_name = str(size) + '_' + str(size)
    ResizeAndWriteImg(SIIM_ISIC_Melanoma_Classification + "jpeg/train/", size, size, "train", folder_name)

end:resize_image
CPU times: user 55min 30s, sys: 4min 51s, total: 1h 22s
Wall time: 52min 37s

In [5]:
%%time
SizeMtx = [192]
for size in SizeMtx:
    folder_name = str(size) + '_' + str(size)
    ResizeAndWriteImg(SIIM_ISIC_Melanoma_Classification + "jpeg/test/", size, size, "test", folder_name)

for size in SizeMtx:
    folder_name = str(size) + '_' + str(size)
    ResizeAndWriteImg(SIIM_ISIC_Melanoma_Classification + "jpeg/train/", size, size, "train", folder_name)

end:resize_image
end:resize_image
CPU times: user 56min 42s, sys: 5min 53s, total: 1h 2min 36s
Wall time: 1h 2min 42s

In [8]:
%%time
SizeMtx = [64]
for size in SizeMtx:
    folder_name = str(size) + '_' + str(size)
    ResizeAndWriteImg(SIIM_ISIC_Melanoma_Classification + "jpeg/test/", size, size, "test", folder_name)

for size in SizeMtx:
    folder_name = str(size) + '_' + str(size)
    ResizeAndWriteImg(SIIM_ISIC_Melanoma_Classification + "jpeg/train/", size, size, "train", folder_name)

end:resize_image
end:resize_image
CPU times: user 57min 21s, sys: 6min 5s, total: 1h 3min 26s
Wall time: 1h 3min 32s

In [4]:
%%time
SizeMtx = [128]
for size in SizeMtx:
    folder_name = str(size) + '_' + str(size)
    ResizeAndWriteImg(SIIM_ISIC_Melanoma_Classification + "jpeg/test/", size, size, "test", folder_name)

for size in SizeMtx:
    folder_name = str(size) + '_' + str(size)
    ResizeAndWriteImg(SIIM_ISIC_Melanoma_Classification + "jpeg/train/", size, size, "train", folder_name)

end:resize_image
end:resize_image
CPU times: user 56min 55s, sys: 5min 59s, total: 1h 2min 54s
Wall time: 1h 3min

## trainとmeta validationの分割

In [9]:
#config
METAVALSIZE = 8282 #train:meta val = 3:1
ImgNmMetaVal = pd.read_csv(SIIM_ISIC_Melanoma_Classification + 'pad_jpg/ImgNmMetaVal.csv')

In [10]:
ImgNmMetaVal

      Unnamed: 0    image_name
0              0  ISIC_0452656
1              1  ISIC_0507189
2              2  ISIC_1144286
3              3  ISIC_1199236
4              4  ISIC_1303205
...          ...           ...
8310        8310  ISIC_8609756
8311        8311  ISIC_8620064
8312        8312  ISIC_9212054
8313        8313  ISIC_9659306
8314        8314  ISIC_9725585

[8315 rows x 2 columns]

In [11]:
ImgNmMetaVal = pd.read_csv(SIIM_ISIC_Melanoma_Classification + 'pad_jpg/ImgNmMetaVal.csv')
ImgNmMetaVal["image_name"]

0       ISIC_0452656
1       ISIC_0507189
2       ISIC_1144286
3       ISIC_1199236
4       ISIC_1303205
            ...
8310    ISIC_8609756
8311    ISIC_8620064
8312    ISIC_9212054
8313    ISIC_9659306
8314    ISIC_9725585
Name: image_name, Length: 8315, dtype: object

In [12]:
#画像の一部をmetavalフォルダに移動
#入力：保存フォルダ名
#出力：なし
def MvMetaVal(folder_name):
    train_dir = SIIM_ISIC_Melanoma_Classification + "pad_jpg/train/" + folder_name
    meta_dir = SIIM_ISIC_Melanoma_Classification + "pad_jpg/metaval/" + folder_name
    os.mkdir(meta_dir)
    ImgNmMetaVal = pd.read_csv(SIIM_ISIC_Melanoma_Classification + 'pad_jpg/ImgNmMetaVal.csv')
    for nm in ImgNmMetaVal["image_name"]:
        shutil.move(train_dir + '/' + nm + '.jpg', meta_dir + '/' + nm + '.jpg')

In [10]:
MvMetaVal("192_192")

In [64]:
MvMetaVal("224_224")

In [65]:
MvMetaVal("256_256")
MvMetaVal("384_384")
MvMetaVal("512_512")
MvMetaVal("768_768")

In [13]:
MvMetaVal("64_64")

In [36]:
#MetaVal.csv
trainCsv = pd.read_csv(SIIM_ISIC_Melanoma_Classification + 'train.csv')
ImgNmMetaVal = pd.read_csv(SIIM_ISIC_Melanoma_Classification + 'pad_jpg/ImgNmMetaVal.csv')
flg = True
for nm in ImgNmMetaVal["image_name"]:
    if flg:
        trainCsvMeta = trainCsv[trainCsv.image_name == nm]
        flg = False
    else:
        trainCsvMeta = trainCsvMeta.append(trainCsv[trainCsv.image_name == nm])
    ix = trainCsv[trainCsv.image_name == nm].index.values[0]
    trainCsv = trainCsv.drop(ix, axis=0)
trainCsv = trainCsv.reset_index(drop=True)
trainCsvMeta = trainCsvMeta.reset_index(drop=True)

In [37]:
trainCsvMeta.tail()

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
8310,ISIC_8609756,IP_1264754,female,65.0,lower extremity,melanoma,malignant,1
8311,ISIC_8620064,IP_1264754,female,65.0,lower extremity,unknown,benign,0
8312,ISIC_9212054,IP_1264754,female,65.0,lower extremity,unknown,benign,0
8313,ISIC_9659306,IP_1264754,female,65.0,lower extremity,unknown,benign,0
8314,ISIC_9725585,IP_1264754,female,65.0,torso,unknown,benign,0

In [38]:
trainCsvMeta.shape

(8315, 8)

In [39]:
trainCsv.tail()

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
24806,ISIC_9998682,IP_2516168,male,60.0,head/neck,melanoma,malignant,1
24807,ISIC_9998937,IP_3091321,male,40.0,head/neck,nevus,benign,0
24808,ISIC_9998965,IP_3293337,male,50.0,torso,unknown,benign,0
24809,ISIC_9999127,IP_9583707,male,20.0,torso,unknown,benign,0
24810,ISIC_9999134,IP_6526534,male,50.0,torso,unknown,benign,0

In [40]:
trainCsv.shape

(24811, 8)

In [41]:
trainCsv.to_csv(SIIM_ISIC_Melanoma_Classification + 'train.csv', index=False)
trainCsvMeta.to_csv(SIIM_ISIC_Melanoma_Classification + 'metaval.csv', index=False)

In [4]:
#sample_sub_MetaVal.csv
ImgNmMetaVal = pd.read_csv(SIIM_ISIC_Melanoma_Classification + 'pad_jpg/ImgNmMetaVal.csv')

In [5]:
ImgNmMetaVal

      Unnamed: 0    image_name
0              0  ISIC_0452656
1              1  ISIC_0507189
2              2  ISIC_1144286
3              3  ISIC_1199236
4              4  ISIC_1303205
...          ...           ...
8310        8310  ISIC_8609756
8311        8311  ISIC_8620064
8312        8312  ISIC_9212054
8313        8313  ISIC_9659306
8314        8314  ISIC_9725585

[8315 rows x 2 columns]

In [6]:
ImgNmMetaVal['target'] = 0

In [7]:
ImgNmMetaVal

      Unnamed: 0    image_name  target
0              0  ISIC_0452656       0
1              1  ISIC_0507189       0
2              2  ISIC_1144286       0
3              3  ISIC_1199236       0
4              4  ISIC_1303205       0
...          ...           ...     ...
8310        8310  ISIC_8609756       0
8311        8311  ISIC_8620064       0
8312        8312  ISIC_9212054       0
8313        8313  ISIC_9659306       0
8314        8314  ISIC_9725585       0

[8315 rows x 3 columns]

In [12]:
ImgNmMetaVal = ImgNmMetaVal.drop('Unnamed: 0', axis=1)

In [13]:
ImgNmMetaVal.to_csv(SIIM_ISIC_Melanoma_Classification + 'sample_sub_metaval.csv', index=False)

## 分割したmetavalを元のフォルダに戻す

In [4]:
#画像の一部をmetavalフォルダに移動
#入力：保存フォルダ名
#出力：なし
def MvMetaVal2Train(folder_name):
    train_dir = SIIM_ISIC_Melanoma_Classification + "pad_jpg/train/" + folder_name
    meta_dir = SIIM_ISIC_Melanoma_Classification + "pad_jpg/metaval/" + folder_name
    ImgNmMetaVal = pd.read_csv(SIIM_ISIC_Melanoma_Classification + 'pad_jpg/ImgNmMetaVal.csv')
    for nm in ImgNmMetaVal["image_name"]:
        shutil.move(meta_dir + '/' + nm + '.jpg', train_dir + '/' + nm + '.jpg')

In [5]:
MvMetaVal2Train("192_192")

In [6]:
MvMetaVal2Train("224_224")
MvMetaVal2Train("256_256")
MvMetaVal2Train("384_384")
MvMetaVal2Train("512_512")
MvMetaVal2Train("768_768")

## sample_sub_metaval_stacking.csv

In [7]:
ImgNmMetaVal = pd.read_csv(SIIM_ISIC_Melanoma_Classification + 'train.csv')

In [8]:
ImgNmMetaVal

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0
...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,male,50.0,torso,unknown,benign,0
33122,ISIC_9999320,IP_3650745,male,65.0,torso,unknown,benign,0
33123,ISIC_9999515,IP_2026598,male,20.0,lower extremity,unknown,benign,0
33124,ISIC_9999666,IP_7702038,male,50.0,lower extremity,unknown,benign,0
33125,ISIC_9999806,IP_0046310,male,45.0,torso,nevus,benign,0

In [9]:
ImgNmMetaVal = ImgNmMetaVal.loc[:, ['image_name', 'target']]
ImgNmMetaVal

         image_name  target
0      ISIC_2637011       0
1      ISIC_0015719       0
2      ISIC_0052212       0
3      ISIC_0068279       0
4      ISIC_0074268       0
...             ...     ...
33121  ISIC_9999134       0
33122  ISIC_9999320       0
33123  ISIC_9999515       0
33124  ISIC_9999666       0
33125  ISIC_9999806       0

[33126 rows x 2 columns]

In [10]:
ImgNmMetaVal[ImgNmMetaVal.target == 1]

         image_name  target
91     ISIC_0149568       1
235    ISIC_0188432       1
314    ISIC_0207268       1
399    ISIC_0232101       1
459    ISIC_0247330       1
...             ...     ...
32969  ISIC_9955163       1
33000  ISIC_9963177       1
33014  ISIC_9967383       1
33050  ISIC_9978107       1
33117  ISIC_9998682       1

[584 rows x 2 columns]

In [11]:
ImgNmMetaVal.loc[:, 'target'] = 0

In [12]:
ImgNmMetaVal[ImgNmMetaVal.target == 1]

Empty DataFrame
Columns: [image_name, target]
Index: []

In [13]:
ImgNmMetaVal[ImgNmMetaVal.target == 0]

         image_name  target
0      ISIC_2637011       0
1      ISIC_0015719       0
2      ISIC_0052212       0
3      ISIC_0068279       0
4      ISIC_0074268       0
...             ...     ...
33121  ISIC_9999134       0
33122  ISIC_9999320       0
33123  ISIC_9999515       0
33124  ISIC_9999666       0
33125  ISIC_9999806       0

[33126 rows x 2 columns]

In [14]:
ImgNmMetaVal.to_csv(SIIM_ISIC_Melanoma_Classification + 'sample_sub_metaval_stacking.csv')